@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap')

#anchorPane{
    -fx-background-color: #005799;
}

#pathList{
    -fx-background-color: white;
}

#genPane{
    -fx-background-color: #81abcc;
}

#filePane{
    -fx-background-color: #81abcc;
}

#fileLabel{
    -fx-background-color: #81abcc;
    -fx-alignment: center;
}

#scrollAnchor{
    -fx-background-color: #81abcc;
}

#pathPane{
    -fx-background-color: #81abcc;
}

#titleLabel{
    -fx-padding: 10px;
    -fx-font-family: 'Aldrich', sans-serif;
    -fx-font-style: italic;
    -fx-font-size: 40px;
    -fx-text-fill: "white";
    -fx-effect: dropshadow(two-pass-box, black, 5, 5, 1, 1);
}

#genLabel{
    -fx-font-family: 'Aldrich', sans-serif;
    -fx-font-size: 20px;
}

#shortestPathLabel{
    -fx-font-family: 'Aldrich', sans-serif;
    -fx-font-size: 20px;
}

.text-field{
    -fx-focus-color: transparent;
}

.text-area{
    -fx-focus-color: transparent;
    -fx-font-family: 'Aldrich', sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #e8dcda;
}

.radio-button{
    -fx-font-family: 'Aldrich', sans-serif;
    -fx-font-size: 17px;
}

.label{
    -fx-font-family: 'Aldrich', sans-serif;
    -fx-font-size: 17px;
}

.button{
    -fx-font-family: 'Aldrich', sans-serif;
    -fx-font-size: 17px;
    -fx-color: #1e88d9;
}

.button: hover{
    -fx-color: #59aef0;
}

.button: pressed{
    -fx-color: #62a1d1;
}
